.insurance-main{
	padding: 16px 20px;
    overflow: hidden;
}
.insurance-main .headertitle{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 18px;
}
.insurance-main .headertitle h2{
	font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: #475568;
    margin-bottom: 0;
}
.insurance-main .balance{
    position: relative;
    flex-grow: 2;
    flex-wrap: nowrap;

}
.balance-main {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.insurance-main .balance .balance-t{
	font-size: 14px;
    color: #707070;
    text-align: right;
    line-height: 22px;
}
.insurance-main .balance .amount{
	font-size: 24px;
    color: #FFA928;
    line-height: 32px;
}
.insurance-main .el-tabs__item{
    font-size: 14px;
    color: #8492A6;
    letter-spacing: 0;
    line-height: 23px;
    height: 23px;
}
.insurance-main .el-tabs__item.is-active{
	color: #6699EE;
}
.insurance-main .el-tabs__active-bar{
    background-color: #6699EE;;
}
.insurance-main .el-tabs__nav{
	padding-bottom: 10px;
}
.insurance-main .el-tabs__header{
	border-bottom: 1px solid #E0E6ED;
}
.insurance-main .meal-cp .contact{
	font-size: 14px;
	color: #99A9BF;
	letter-spacing: 0;
	line-height: 20px;
	margin-bottom: 16px;
}
.insurance-main .head-tab .el-tabs__header{
	margin-bottom: 16px;
}
.insurance-main .el-pagination {
    text-align: right;
    padding: 10px 0 0;
}