
.statistics-cp .kqtask_top{
	height:50px;
	border-bottom: 1px solid #e0e6ed;
}
.statistics-cp .from-item-list {
    float: left;
    margin-right: 16px;
}

.statistics-cp .page{
	float: right;
}
.statistics-cp .el-tabs__item{color: #8492a6;}
.statistics-cp .el-tabs__item:hover{cursor: pointer;color: #1f2d3d;}
.statistics-cp .el-tabs__item.is-active{color: #6699ee;}
.statistics-cp .el-tabs__active-bar{background-color:#6699ee;}
.statistics-cp .el-tabs__header{border-color: #e0e6ed;}
.statistics-cp .el-form-item__label{text-align: left;color: #5e6d82;font-size: 14px;}
.statistics-cp .el-button{
	width: 68px;
	height: 36px;
	border-radius: 2px;
	background-color: #6699ee;
	color: #ffffff;
}
.statistics-cp .seach-btn{margin-left: 16px!important;}
.statistics-cp .el-button:hover{background-color: #8bb1f2;}
.statistics-cp .el-button:active{background-color: #517ed6;}
.statistics-cp .el-tabs__header{margin: 0 0 24px;}
.statistics-cp .el-button span{font-size: 14px;}
.statistics-cp .el-form-item{margin-bottom: 16px;}
.statistics-cp .el-table__body tr.hover-row>td{background-color: #f7f7f9;cursor: pointer;}
.statistics-cp .el-dialog__title{font-size: 18px; color: #606c73;}
.statistics-cp .el-dialog__header{padding: 29px 20px 0;}
.statistics-cp .el-dialog__body{padding: 30px 40px;}
.statistics-cp .el-dialog__body span {font-size: 14px;color: #5e6d82;height: 24px;}
.statistics-cp .kq-select-div .el-select{width: 320px;}
.statistics-cp .el-dialog__footer{padding: 6px 20px 30px 20px;}
.statistics-cp .dialog-footer .el-button{width: 72px;background-color: #6d9ee1;}
.statistics-cp .dialog-footer .cancel{background-color: #ffffff;border: solid 1px #e0e6ed;color: #000000;}
.statistics-cp .dialog-footer .cancel:hover{border: solid 1px #6699ee;color: #6699ee;}
.statistics-cp .dialog-footer .confirm:hover{background-color: #8bb1f2;border: solid 1px #8bb1f2;}
.statistics-cp .el-dialog--tiny{width: 400px;}
.statistics-cp .member .el-input input{cursor: text;}
.statistics-cp .group:hover{border-color: #8391a5;}
.statistics-cp .el-autocomplete{width: 175px;}
.statistics-cp .groupDay, .mystatus input{border-radius: 2px!important;cursor: pointer;border: 1px solid #e0e6ed}
.statistics-cp .groupDay:hover, .mystatus .el-input__inner:hover{border: 1px solid #c0ccda}
.statistics-cp .groupDay:focus{
  border: 1px solid #6699EE;
}
.statistics-cp .mystatus .el-input__inner:focus{
	border: 1px solid #6699EE;
}
.statistics-cp .el-table th{
	font-weight: 600;
    color: #475669;
}

.statistics-cp .el-table td, .el-table th{height: 36px;}
.statistics-cp .el-input__icon+.el-input__inner{cursor: pointer;}
.statistics-cp .el-input__icon{cursor: pointer;}
.statistics-cp .kq-table-record .el-table__body-wrapper{overflow-x:hidden; }
.insurance_info p{
	color: #8492a6;
	font-size: 14px;
	float: left;
}
.insurance_info .export{
	float:right;
}
.statistics-cp .el-form:after{
	display: block;
	content: '';
	clear: both;
}
.insurance_info p span{
	font-size: 14px;
	color: #5E6D82;
	margin-right: 14px;
}
.insurance_info:after{
	display: block;
	content: '';
	clear: both;

}
.insurance_table{
	margin-top: 16px;
}
.insurance_table{
    margin-top: 6px;
}
.statistics-cpsearch .seach-empty{color: #c0ccda;font-size: 14px;text-align: center;height: 36px;line-height: 36px;}
.statistics-cpsearch {z-index: 99999!important}
.statistics-cpsearch li{
    height: 36px;
    line-height: 36px;
    position: relative;
}
.statistics-cpsearch li .name{
  text-overflow: ellipsis;
  overflow: hidden;
}
.statistics-cp .el-tag--primary1{
    width: 44px;
    height: 24px;
    border-radius: 2px;
    background-color: rgba(99, 180, 93, 0.07);
    border: solid 1px rgba(99, 180, 93, 0.35);
    color: #70cb6a;
    font-size: 12px;
}
.statistics-cp .el-tag--primary0{
    width: 44px;
    height: 24px;
    border-radius: 2px;
    background-color: rgba(242, 106, 75, 0.05);
    border: solid 1px rgba(242, 106, 75, 0.27);
    font-size: 12px;
    color: #f68369;
}
.statistics-cp .export span {
    font-size: 13px;
    color: #6699ee;
    cursor: pointer;
}
.statistics-cp .export .export-icon{
	display: block;
	width: 12px;
	height: 12px;
	margin-right: 6px;
	float: left;
	background-image:url(../../assets/imgs/export.svg);
}


.statistics-cp .el-form-item.is-required .el-form-item__label:before{
	content: '';
	display: none;
}
.statistics-cp .el-tag--primary2{
    width: 44px;
    height: 24px;
    border-radius: 2px;
    background-color: rgba(99, 180, 93, 0.07);
    border: solid 1px rgba(99, 180, 93, 0.35);
    text-align: center;
    color: #70cb6a;
    font-size: 12px;
}
.statistics-cp .el-tag--primary3{
    width: 44px;
    height: 24px;
    border-radius: 2px;
    background-color: rgba(99, 180, 93, 0.07);
    border: solid 1px rgba(99, 180, 93, 0.35);
    text-align: center;
    color: #70cb6a;
    font-size: 12px;
}
.statistics-cp .el-tag--primary-1{
	width: 44px;
	height: 24px;
	border-radius: 2px;
	background-color: rgba(242, 106, 75, 0.05);
	border: solid 1px rgba(242, 106, 75, 0.27);
    text-align: center;
	font-size: 12px;
	color: #f58369;
}
.statistics-cp .user-name{
    position: relative;
    padding-left: 37px;
}
.statistics-cp .user-img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 8px;
    display: block;
    position: absolute;
    left: 0px;
    top: -7px;
}
.statistics-cp .el-table .cell{
	line-height: 40px;
}
.view-policy-d{
    position: relative;
}
.view-policy{
    position: absolute;
    top: -1px;
    display: inline-block;
    width: 25px;
    height: 20px;
    background: url(../imgs/view-policy.svg) no-repeat;
    background-size: 100% 100%;
}